<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="msg">
        <% if flash[:notice] == "导入模板错误!!" %>
         <div class="alert alert-danger alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <p class="lead"><%= flash[:notice] %></p>
         </div>
        <% elsif flash[:notice] == "导入模板成功"  %>
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p class="lead"><%= flash[:notice] %></p>
            </div>
        <% end %>
      </div>
       <div class="panel panel-primary">
        <!-- Default panel contents -->
         <div class="panel-heading"><h4>数据导入</h4></div>
         <div class="panel-body">
           <%= form_tag({controller: "data_import", action: "record_data"}, method: "post",multipart: true) %>
           <div class="form-inline">
             <input type="input" id="file_name" class = "form-control" readonly = "readonly">
             <a href="javascript:;" class="file form-control">选择文件
               <input type="file" name="file_field" id="file_field">
             </a>
             <button type="submit" class="btn btn-warning" id="submit_btn">导入</button>
            </div>
           </form>
         </div>
         <div class="panel-footer">
           <div class="fileerrorTip"></div>
          </div>
        </div>
      </div>
     </div>
   </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $("#submit_btn").addClass("disabled");
      $(".file").on("change","input[type='file']",function(){
          var filePath=$(this).val();
          if(filePath.indexOf("xlsx")!=-1 || filePath.indexOf("xls")!=-1){
              $(".fileerrorTip").html("").hide();
              var arr=filePath.split('\\');
              var fileName=arr[arr.length-1];
              $("#file_name").val(fileName);
              $("#submit_btn").removeClass("disabled");
          }else{
              $("#file_name").val("");
              $("#file_field").val("");
              $("#submit_btn").addClass("disabled");
              $(".fileerrorTip").html("<div class='alert-danger'>您未上传文件，或者您上传文件类型有误！</div>").show();
              return false
          }
      });
  });
</script>