# Action Cable uses Redis by default to administer connections, channels, and sending/receiving messages over the WebSocket.
production:
  #adapter: redis
  adapter: async
  url: redis://localhost:6379
  password: bocai123

development:
  adapter: async   #一定要使用这个adapter才会生效 不然这里的配置都是无用的
  url: redis://localhost:6379
  password: bocai123
  # adapter: async

test:
  adapter: async