<div class="message">
 <div class="row">
   <div class="col-md-4">
     <span><%= message.author %>(<%= message.created_at.strftime("%Y-%m-%d %H:%M:%S")%>)</span>
   </div>
   <div class="col-md-8">
     <span><%= message.content %></span>
   </div>
 </div>
</div>