<div class="panel panel-default">
  <div class="panel-heading">
    <div>welcome <%= @user_name %></div>
    <div class="setting-icon leave_chat_room">
      <span class="glyphicon glyphicon-cog" aria-hidden="true">
       <%= link_to "登出", leave_chat_room_path %>
      </span>
    </div>
  </div>
  <div class="panel-body">

  </div>
</div>

