html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body {
  position: relative;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
  font-size: 12px;
  background-color: #f1f2f6;
  overflow-x: hidden;
  text-align: center;
}
.navbar-header a, .navbar-nav a{
  font-size: 20px;
}
.footer-copyright {
  font-size: 20px;
}
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.table #table_head{
  background: #555555;
  color: #FFFFFF;
}
.block_row{
  margin-bottom: 50px;
}
.data_label{
  font-weight: bold;
}
.page_header{
  background-color: #cccccc;
  text-align: left;
}
.lead{
  font-weight: bold;
}
.page_help{
  margin-bottom: 10px;
}
//显示边框 用来调试div用
.divcss5{width:100px;height:50px;border:1px solid #F00}

.panel-heading div{
  display: inline;
}
.setting-icon{
  margin-left: 20px;
}
.operation-list a{
  color: black;
}
.modal_page_bg{
  height: 900px;
  font-weight: 700;
}
//修复chosen字体靠右
.chosen-container{
  text-align: left;
}
.talks_bg{
  background-color: #666666;
  height: 1200px;
}
.message_text{
  width: 600px;
  height: 100px;
  border-radius: 8px;
  -moz-border-radius:8px;

}
.message-content{
  margin-left: 50px;
}
.message_heading{
  background-color: #fbfbfb;
}
.post-btn{
  width: 200px;
  background-color: #fcfccc;
  color: #777;
  border-radius:12px;
  -moz-border-radius:12px;
}
.channel-name-left{
  position: relative;
  left: -10px;
  top: -80px;
  font-size: 18px;
}
.message_list{
  font-size: 18px;
  color: whitesmoke;
}
.message{
  margin: 5px;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 8px;
  -moz-border-radius:8px;
}
