html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body {
  position: relative;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
  font-size: 12px;
  background-color: #f1f2f6;
  overflow-x: hidden;
  text-align: center;
}
.navbar-custom{
  border: none;
  border-radius: 0;
  background-color: #303641;
  width: 100%;
  margin-bottom: 10px;
}
.navbar-header a{
  font-size: 20px;
}
.navbar-custom .nav li a {
  display: block;
  color: #aaabae;
  font-size: 20px;
}
.dropdown-header{
  font-size: 20px;
}
.footer-copyright {
  font-size: 20px;
}
.navbar-right .btn-primary{
  margin-top: 5px;
}
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.table #table_head{
  background: #555555;
  color: #FFFFFF;
}
.block_row{
  margin-bottom: 50px;
}
.data_label{
  font-weight: bold;
}
.page_header{
  background-color: #cccccc;
  text-align: left;
}
.lead{
  font-weight: bold;
}
.page_help{
  margin-bottom: 10px;
}
//显示边框 用来调试div用
.divcss5{width:100px;height:50px;border:1px solid #F00}
