<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.xiaoxiongbizhi.com/wallpapers/__85/1/9/19r0an0jm.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img.kutoo8.com//upload/image/78018037/201305280911_960x540.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.xiaoxiongbizhi.com/wallpapers/__85/2/f/2fg40v2zs.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://tupian.enterdesk.com/2013/mxy/12/10/15/3.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://image.tianjimedia.com/uploadImages/2012/011/R5J8A0HYL5YV.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://s9.knowsky.com/bizhi/l/1-5000/2009528124950302772760.jpg" alt="...">
      <div class="caption">
      </div>
    </div>
  </div>
</div>