<div class="row-fluid">
   <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://image.tianjimedia.com/uploadImages/2013/241/39T69NM2D7AM.jpg" alt="...">

            <div class="carousel-caption">
              <h3>—— 高尔基</h3>

              <p>我读的书愈多，就愈亲近世界，愈明了生活的意义，愈觉得生活的重要。</p>
            </div>
          </div>
          <div class="item">
            <img src="http://image.tianjimedia.com/uploadImages/2013/247/1XT6D44GZ00A.jpg" alt="...">

            <div class="carousel-caption">
              <h3>—— 莎士比亚</h3>

              <p>书籍是全世界的营养品。生活里没有书籍，就好像没有阳光；智慧里没有书籍，就好像鸟儿没有翅膀。</p>
            </div>
          </div>

          <div class="item">
            <img src="http://image.tianjimedia.com/uploadImages/2012/090/57VJD94YY44B.jpg" alt="...">

            <div class="carousel-caption">
              <h3> —— 菲·贝利</h3>

              <p>最甜美的是爱情，最苦涩的也是爱情。</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
       </div>
     </div>
   </div>
   <div class="row-fluid">
     <div class="col-md-4">
       <div class="thumbnail">
         <img alt="300x200" src="http://www.027art.com/art/UploadFiles_8975/201105/2011052706550351.jpg"/>
         <div class="caption">
           <h3>
             上善若水
           </h3>
           <p>
             水看似无力，自高处往下流淌，遇阻挡之物，耐心无限，若遇菱角磐石，即可把菱角磨园，亦可水滴石穿。
           </p>
           <p>
             <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <img alt="300x200" src="http://article.fd.zol-img.com.cn/t_s640x2000/g1/M07/0C/0D/Cg-4jVOpQWmIVPnYAAHFv0U3gXkAAOjOwAtyyUAAcXX661.jpg"/>
         <div class="caption">
           <h3>
             围城
           </h3>
           <p>
             “致身于国”、“还政于民”等等佳话，只是语言幻成的空花泡影，名说交付出去，其实只仿佛魔术家玩的飞刀，放手而并没有脱手。
           </p>
           <p>
             <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <img alt="300x200" src="http://www.apoints.com/photography/UploadFiles/200810/20081002205429430.jpg"/>
         <div class="caption">
           <h3>
             生活
           </h3>
           <p>
             生活中，尽管我们平凡，但不能因自己不卓越而自惭形秽，就算是芸芸众生中纵然我们不能脱颖而出，然而，只要我们依旧勤勉。
           </p>
           <p>
             <a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
           </p>
         </div>
       </div>
     </div>
  </div>
