<!--<h2>深色样式（默认）</h2>-->
<ul class="pgwMenu">
  <li><a class="selected" href="#">首页</a></li>
  <li><a href="#">代码</a></li>
  <li><a href="#">素材</a></li>
  <li><a href="#">模板</a></li>

  <li><a href="javascript:">关于</a></li>
  <li><a href="javascript:">服务</a></li>
  <li><a href="#">联系</a></li>
</ul>


<!--<h2>浅色样式（默认）</h2>-->
<!--<ul class="pgwMenu light">-->
  <!--<li><a class="selected" href="#">首页</a></li>-->
  <!--<li><a href="#">代码</a></li>-->
  <!--<li><a href="#">素材</a></li>-->
  <!--<li><a href="#">模板</a></li>-->

  <!--<li><a href="javascript:">关于</a></li>-->
  <!--<li><a href="javascript:">服务</a></li>-->
  <!--<li><a href="#">联系</a></li>-->
<!--</ul>-->

<script type="text/javascript">
    $(document).ready(function(){
        $(".pgwMenuCustom li").hover(function(){
            $(this).find("ul").slideDown("slow");
        },function(){
            $(this).find("ul").slideUp("fast");
        });
    });
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
